@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "WebPlus HP 100LX 6x8";
  src: local("WebPlus HP 100LX 6x8"), url("WebPlus_HP_100LX_6x8.woff")
  format("woff"); /* VileR - https://int10h.org/oldschool-pc-fonts/ */
}
:root {
  --see-through: 0.3;
  --font: "WebPlus HP 100LX 6x8", monospace;
  --text-color: rgba(152, 156, 160, var(--see-through));
  --background-color: 21, 11, 1; /*44, 10, 80;*/
  --cast: rgba(82, 82, 82, var(--see-through));
  --shadow: rgba(0, 0, 0, var(--see-through));
  --background: rgba(var(--background-color), var(--see-through));
  --button: 5rem;
}
/* Mobile */
@media only screen and (max-width: 1900px) {
  :root {
    --width: 80%;
    --font-size-header: 5em;
    --font-size-medium: 3em;
    --font-size-text: 2em;
  }
}
/* Desktop */
@media only screen and (min-width: 1901px) {
  :root {
    --width: 40%;
    --font-size-header: 3em;
    --font-size-medium: 1.33em;
    --font-size-text: 1em;
  }
}
body {
  margin: 0;
  padding: 0;
  background: no-repeat fixed center bottom;
  background-image:
  linear-gradient(
  rgba(var(--background-color), 0.3),
  rgba(var(--background-color), 0.7),
  /* rgba(var(--background-color), 0.9), */
  /* rgba(var(--background-color), 0.9), */
  rgba(var(--background-color), 1)
  ),
  url("assets/images/index.png");
  background-size: cover;
  width: 100%;
}



.container {
  max-width: var(--width);
  margin: 50px auto 300px auto;
  padding: 10px 10px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow:
  0 0 50px var(--background),
  0 0 150px var(--background),
  0 0 250px var(--background);
}

.post {
  margin-top: 30px; /* Add margin above the div */
  margin-bottom: 0px; /* Add margin below the div */
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset -5px -5px 9px var(--cast), inset 5px 5px 9px var(--shadow);
}

.text {
  color: var(--text-color);
  font-family: var(--font);
  text-shadow: 7px 13px 5px var(--shadow); /* Define the 3D shadow effect */



}

h1, h2, h3 {
  color: var(--text-color);
  font-weight: 1000;
  font-size: var(--font-size-header);
  text-align: center;
  font-family: var(--font);
  text-shadow: 7px 13px 5px var(--shadow); /* Define the 3D shadow effect */

}

h1::before {
  content: "# "
}

h2::before {
  content: "-  " /* ◄ */
}
h2::after {
  content: " -" /* " ►"*/
}

h2 {
  font-size: var(--font-size-medium);
  margin-bottom: 0;
}

.container h2 {
  margin: 50px auto;
}

li::before {
  content: "* " /* ◄ */
}

p, li{
  font-family: var(--font);
  font-weight: 300;
  font-size: var(--font-size-text);
  overflow: hidden;
  text-align: left;
  margin: auto;
  color: var(--text-color);

}

li {
  padding: 8px;
}


.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay > img {
  position: absolute;
  z-index: 1;
  /*left: 0px;*/
  /*top: 0px;*/
  transform: rotate(0deg);
}


/* Testing */

.roundedbox {
    margin: auto;
    width: max-content
}

.icon-button {
    box-shadow: -5px -5px 9px var(--cast), 5px 5px 9px var(--shadow);
    /* background-color: var(--text-color); */
    border-radius: var(--button);
    cursor: pointer;
    display: inline-block;
    font-size: 3.0rem;
    height: var(--button);
    line-height: var(--button);
    margin: 0 10px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: var(--button);
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: var(--button);
    height: var(--button);
    border-radius: var(--button);
    margin: -2.5rem;
    /* margin: -1.8rem; */
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.linkedin span {
    background-color: var(--cast); /* #0077b5;*/
}

.instagram span {
    background-color: #bc2a8d;
}

.github span {
    background-color: var(--cast);
}

.envelope span {
    background-color: var(--cast); /*#333;*/
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: var(--button);
    left: 0;
    line-height: var(--button);
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: var(--button);
    z-index: 10;
}

/* .icon-button .fa-linkedin { */
/*     color: #0077b5; */
/* } */
/**/
/* .icon-button .fa-github { */
/*     color: #333; */
/* } */
.icon-button .fa-linkedin {
    color: var(--cast); 
}

.icon-button .fa-github {
    color: var(--cast); 
}

.icon-button .fa-envelope {
    color: var(--cast); /*#333;*/
}

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-envelope,
.icon-button:hover .fa-github {
    color: white;
}

#footer {
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    color: #222;
    vertical-align: top;
    text-align: center;
    font-size: 11px;
}

#footer a {
    text-decoration: underline;
    background-image: none;
}

#footer a:hover {
    color: #858585;
}

#footer .footer-left {
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
}

@media (min-width: 39rem) {
    #footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 20px;
    }

    #footer .footer-left {
        align-self: flex-start;
        margin-right: 20px;
    }

    #footer .footer-right {
        align-self: flex-end;
    }
}


.scroll-indicator {
    position: fixed;
    top: 50%;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
